#modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: fit-content;

  border-radius: 10px;
  background-color: rgb(239, 236, 236);
  box-shadow: 24px;
}
